<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>caling to sujana</h1>
        <h2>ringing........</h2>
        <h3>Tinnava raa</h3>
        <h4>vadilestunaaaavaaaaa raaaaaa .......</h4>
        <h1><a href="{% url 'sujana' %}">Sujana Response</a></h1>
        <h1><a href="{% url 'sudheer2' %}">sudheer2 Response</a></h1>

    </center>
</body>
</html>